.header-nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .header-nav a {
    /* color: white; */
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .header-nav a:hover {
    text-decoration: underline;
  }
  